<ion-view view-title="Quizzes">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#/app/tabs/steelquizzes">
                <img src="img/steelicon.png">
                <h2>Steel</h2>
                <p>Test your knowledge about steel structures</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/concretequizzes">
                <img src="img/concreteicon.png">
                <h2>Concrete</h2>
                <p>Test your knowledge about concrete structures</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/timberquizzes">
                <img src="img/timbericon.png">
                <h2>Timber</h2>
                <p>Test your knowledge about wooden structures</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/lateralquizzes">
                <img src="img/lateralicon.png">
                <h2>Lateral</h2>
                <p>Test your knowledge about lateral structures</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/connectionsquizzes">
                <img src="img/connectionsicon.png">
                <h2>Connections</h2>
                <p>Test your knowledge about connection structures</p>
            </a>
        </div>
    </ion-content>
</ion-view>