<ion-view view-title="Map">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-divider">
            Choose Tour Type
        </div>
        <div class="list" id="options">
            <ion-radio id="steel" icon="ion-location" ng-model="tours.name" value="steeltours">
                Steel
            </ion-radio>
            <ion-radio id="concrete" icon="ion-location" ng-model="tours.name" value="concretetours">
                Concrete
            </ion-radio>
            <ion-radio id="timber" icon="ion-location" ng-model="tours.name" value="timbertours">
                Timber
            </ion-radio>
            <ion-radio id="steel" icon="ion-location" ng-model="tours.name" value="lateraltours">
                Lateral
            </ion-radio>
            <ion-radio id="concrete" icon="ion-location" ng-model="tours.name" value="connectionstours">
                Connections
            </ion-radio>
            <ion-radio id="timber" icon="ion-location" ng-model="tours.name" value="tours">
                All
            </ion-radio>
        </div>
        <button class="button ion-map button-large button-custom col col-33 col-offset-33" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
            View Map
        </button>
    </ion-content>
</ion-view>