<ion-view view-title="Tours">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#/app/tabs/steel">
                <img src="img/steelicon.png">
                <h2>Steel</h2>
                <p>Structures made from steel materials</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/concrete">
                <img src="img/concreteicon.png">
                <h2>Concrete</h2>
                <p>Structures made from concrete materials</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/timber">
                <img src="img/timbericon.png">
                <h2>Timber</h2>
                <p>Structures made from wooden materials</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/lateral">
                <img src="img/lateralicon.png">
                <h2>Lateral</h2>
                <p>Structures made from various materials</p>
            </a>
            <a class="item item-avatar" href="#/app/tabs/connections">
                <img src="img/connectionsicon.png">
                <h2>Connections</h2>
                <p>Structures made from various materials</p>
            </a>
        </div>
    </ion-content>
</ion-view>