<ion-view view-title="Map">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-divider">
            Choose Tour Type
        </div>
        <div class="list" id="options">
            <ion-item id="timber" ng-model="tours.name" value="shorttours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Top 10
            </ion-item>
            <ion-item id="steel" ng-model="tours.name" value="steeltours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Steel
            </ion-item>
            <ion-item id="concrete" ng-model="tours.name" value="concretetours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Concrete
            </ion-item>
            <ion-item id="timber" ng-model="tours.name" value="timbertours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Timber
            </ion-item>
            <ion-item id="steel" ng-model="tours.name" value="lateraltours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Lateral
            </ion-item>
            <ion-item id="concrete" ng-model="tours.name" value="connectionstours" ng-click="setTourMarkers(tours.name)" ui-sref="app.tabs.mapview">
                Connections
            </ion-item>
        </div>
        <center id="correctanswer" class="icon ion-android-locate"> Please enable High Accuracy GPS on your device for best tour experience</center>
    </ion-content>
</ion-view>