<ion-view view-title="About">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="img/Sacramento_State_Hornets_Logo.png">
                <h2>Civil Structure Tour App Beta</h2>
                <p>Alpha Squad</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="img/Sacramento_State_Logo.png">
                <p>
                    This app is brought to you by Alpha Squad. Created with all open source frameworks consisting of ionic, an angular.js framework for the frontend and a node.js hosted express server backend combined with a mongodb for the database. Its main purpose is to educate the public about various Sacramento State Civil Structures in an interactive manner, using the google
                    maps API. This app is mainly intended for use on mobile devices with GPS enabled.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>