<ion-view view-title="Log-In" name="login-view">
    <ion-content>
        <center style="padding: 40px;">
                <p style="padding-bottom: 40px;" id="correctanswer">Not a student or professional and just want to learn more?</p>
            <button class="button button-medium ion-ios-redo button-custom" ui-sref="app.tabs.map"> Start Tour</button>
        </center>
        <div class="list card">
            <div class="item item-avatar item-text-wrap">
                <img src="img/Sacramento_State_Hornets_Logo.png"> Welcome to Sac State's Structural Engineering Tour App
            </div>
            <div class="item item-body">
                If you are a student or technical professional, please login for a specialized view of various campus structures.
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-enter="logIn()" ng-model="user.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-enter="logIn()" ng-model="user.password">
            </label>
        </div>
        <div>
            <center>
                <p id="wronganswer" ng-show="error">Error! {{error.message}}</p>
            </center>
            <button class="button button-block button-custom" ng-click="logIn()">Log In</button>
            <center style="padding: 30px;">
                <p id="wronganswer">No account? Please take a few seconds to tell us more about you</p>
                <button class="button button-small button-custom col col-33" ui-sref="app.register">Register</button>
            </center>
        </div>
    </ion-content>
</ion-view>