<ion-view view-title="What's new?">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list card" ng-repeat="new in news">

            <div class="item item-avatar">
                <img src="{{new.icon}}">
                <h2>{{new.username}}</h2>
                <p>{{new.date}}</p>
            </div>
            <div class="item item-body">
                <img class="full-image" src="{{new.picture}}">
                <p>{{new.post}}</p>
            </div>

        </div>

    </ion-content>
</ion-view>