<ion-view view-title="Concrete Tour">
    <ion-nav-buttons side="left"> </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-avatar" href="#">
                <button class="button icon-left ion-navigate button-positive">Start the Tour</button>
            </a>
            <div class="item item-divider"> Detailed sites </div>
            <a class="item item-avatar" ng-repeat="concretetour in concretetours" href="#/app/tabs/tours/{{concretetour.idno}}">
                <img src="{{concretetour.icon}}" />
                <h2>{{concretetour.title}}</h2>
                <p>{{concretetour.rating}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>