 .custom-headerbar{
    color : #cba757 !important;
    background-color:#095a1f!important;
 }

 .custom-menubar{
    color : #cba757 !important;
    background-color:#095a1f!important;
 }

.button-icon{
  color:#ffffff !important;
}

.button-custom {
    background-color: #000000 !important;
    color:#cba757 !important;
    font-size: 24px !important;
}

#startTour {
    padding: 40px;
}
#question {
    font-size: 24px !important;
    font-weight: bolder !important;
    padding: 30px;
}

#options {
    padding: 20px;
}

#option {
    font-size: 18px;
    font-weight:bold !important;
}

.radio-icon {
  color: #095a1f;
}

h1 {
    text-align: center;
}

.angular-google-map-container { 
  height: 100%; 
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.home-container {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     height: 70%;
}
.home-container > .row {
     -webkit-flex: 1;
}

.header {
     -webkit-flex: 5 !important;
     -webkit-align-items: center;
     background-color: #1b7934;
}
 
.icon-row {
     -webkit-align-items: center;
}



.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 150px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
  background: rgba(0,0,0,0.7);
}
 
.slider {
    width: 100%;
    height: 100%;
}
 
.image {
    width: 100%;
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center, center;
}